body{
    background-color: #000;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    /*right: 0*/
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar__navigation{
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar__navigation .logo{
    background-color: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.logo img{
    width: 80px;
}

.sidebar nav ul{
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar ul li{
    padding: 10px 0;
}

.sidebar nav ul li a{
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
}

.library{
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 8px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}

.library .library__content{
    display: flex;
    justify-content: space-between;
}

.library .library__button{
    margin-right: 10px;
    color: #b3b3b3;
    background-color: transparent;
    border: 0px;
    font-size: 1rem;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
    display: flex;
}

.library .library__button .fa{
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;
}

.library .library__content .fa-plus{
    margin: 24px 10px;
}

.section-playlist{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    background-color: #242424;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0px;
    padding: 16px 20px;
    border-radius: 10px;
}

.section-playlist .section-playlist__content{
    display: flex;
    flex-direction: column;
}

.section-playlist__content .text{
    padding-bottom: 14px;
    color: #fff;
    font-family: "DM Sans", sans-serif;
}

.section-playlist__content .title{
    font-weight: 700;
}

.section-playlist__content .subtitle{
    font-weight: 500;
    font-size: 12px;
}

.section-playlist__content .section-playlist__button{
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    margin-top: 12px;
    border: 0px;
    width: 113px;
}

.sidebar .utilitarios .utilitarios__links a{
    color: #b3b3b3;
    font-weight: 500;
    font-size: 11px;
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    margin: 8px 10px 10px 0px;
}

.sidebar .utilitarios .utilitarios__links{
    margin: 25px 20px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
}

.sidebar .utilitarios .utilitarios__links .cookies a{
    font-size: 12px;
}

.sidebar .utilitarios .utilitarios__links .cookies a:hover{
    text-decoration: underline;
}

.languages .languages__button{
    background-color: transparent;
    border: 1px solid #878787;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    width: 180px;
    margin: 8px;
    padding: 8px;
    border-radius: 20px;
    margin-bottom: 90px;
}

.languages .languages__button:hover{
    font-size: 14px;
    border: 1px solid #fff;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.footer footer{
    background-image: linear-gradient(to right, #b31db3, #1c87ce);
    padding: 10px 15px;
    color: #fff;
    font-family: "DM Sans", sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.footer footer .footer__texto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer footer .footer__texto .footer__title{
    font-weight: bold;
    font-size: 14px;
}

.footer footer .footer__texto .footer__subtitle{
    font-weight: 500;
    font-size: 16px;
}


.footer .footer__button{
    border: none;
    text-transform: none;
    padding: 15px;
    border-radius: 25px;
    background-color: #fff;
    width: 200px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.footer .footer__button:hover{
    background-color: rgb(245, 243, 243);
}