/* HEADER */

.main-container{
    max-width: 80vw;
    height: 100vh;
    margin-left: 310px;
    margin-right: 3px;
}

.header__navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 10px;
    border-radius: 8px;
    background-color: var(--bg-components);
}

.header__navigation .navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__navigation .navigation .arrow-left{
    margin-right: 1.25rem;
    border: none;
}

.arrow-left, .arrow-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: var(--bg-icon);
    background-color: var(--bg-arrow-color);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}  

.header__login{
    display: flex;
    align-items: center;
}

.header__search{
    display: flex;
    align-items: center;
    width: 364px;
    height: 48px;
    margin-left: 8px;
    background-color: #242424;
    border-radius: 500px;
    border: 1px solid transparent;
}

.header__search img{
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.header__search input{
    background-color: transparent;
    border: none;
    padding: 0px 100px 0px 12px;
    color:  var(--fc-main);
    text-overflow: ellipsis; /* ... */
    overflow: hidden;
    white-space: nowrap;
    outline: none;
    width: 100%;
}

.header__login .subscribe{
    color: #a7a7a7;
    font-size: 1rem;
    font-weight: 700;
    background-color: transparent;
    margin-right: 32px;
    cursor: pointer;
    border: none;
}

.header__login .subscribe:hover{
    color: var(--fc-main);
    transform: scale(1.04);
}

.header__login .login{
    width: 100px;
    height: 48px;
    color: var(--bg-main-color);
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
    background-color: var(--fc-main);
    cursor: pointer;
}

.header__login .login:hover{
    background-color: var(--bg-hover);
    transform: scale(1.04);
  }
/* FIM HEADER */

/* PLAYLIST - MAIN CONTENT */
.playlist-content{
    height: 68vh;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--bg-components);
    color: var(--fc-main);
}

.playlist-content .greeting{
    margin-top: 30px;
    font-weight: bolder;
    font-size: 32px;
}

.playlist-content .session{
    margin-top: 48px;
    font-weight: bolder;
    font-size: 20px;
}

/* SCROLL */

.offer__scroll-container{
    max-height: 43vh;
    margin: 14px 0px;
    overflow-y: auto;
}


.offer__scroll-container::-webkit-scrollbar {
    width: 0px; 
  }
  
  .offer__scroll-container::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  /*display playlist */

  .offer__list-item {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
    column-count: 5;
    margin-bottom: 16px;
}

.cards {
    position: relative;
    width: 190px;
    height: 180px;
    overflow: hidden;
    border-radius: 8px;
}

.cards span {
    padding: 16px;
    position: absolute;
    color: var(--fc-main);
    font-size: 18px;
    font-weight: 700;
}

.card1 {
    background-color: var(--bg-card1);
  }
  .card2 {
    background-color: var(--bg-card2);
  }
  .card3 {
    background: var(--bg-card3);
  }
  .card4 {
    background: var(--bg-card4);
  }
  .card5 {
    background: var(--bg-card5);
  }
  .card6 {
    background: var(--bg-card6);
  }
  .card7 {
    background: var(--bg-card7);
  }
  .card8 {
    background: var(--bg-card8);
  }
  .card9 {
    background: var(--bg-card9);
  }
  .card10 {
    background: var(--bg-card10);
  }
  .card11 {
    background: var(--bg-card11);
  }
  .card12 {
    background: var(--bg-card12);
  }
  .card13 {
    background: var(--bg-card13);
  }
  .card14 {
    background: var(--bg-card14);
  }
  .card15 {
    background: var(--bg-card15);
  }

  /* PLAYLISTS FOTOS */

  .offer__list-item img{
    position: absolute;
    right: 0;
    bottom: 0;
    height: auto;
    width: 108px;
    transform: rotate(25deg) translate(18%, -2%);
  }

/* PESQUISA */

.artist{
  column-count: 5; /* cria um container com 5 colunas e tenta equilibrar o conteúdo de maneira uniforme */
  grid-gap: 24px;
  min-width: 372px;
}

/* Clase que irá auxiliar no search.js */
.hidden {
  display: none;
}

/* Container onde o artista será exibido */
.grid-container {
  grid-gap: 16px;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  min-width: 372px;;
}

/* Carta do artista que foi realizado a busca */
.artist-card {
  background-color: #181818;
  border-radius: 8px;
  -ms-flex: 1; /* Define o tamanho flexível de um item no container */
  flex: 1;  /* Define o tamanho flexível de um item no container */
  isolation: isolate; /* O conteúdo é isolado e renderizado de forma independente */
  padding: 16px;
  position: relative;
  transition: background-color 0.3s ease;
  width: 100%;
}

.artist-card:hover {
  background-color: #252525;
}

.card-img {
  padding-bottom: 100%;
  position: relative;
  width: 100%;
  margin-bottom: 16px;
}

.artist-img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 50%;
}

.card-text {
  display: flex;
  flex-direction: column;
  color: var(--fc-main);
  overflow: hidden;
  text-overflow: ellipsis; /* ... */
  white-space: nowrap;
  min-height: 62px;
}

.card-text a {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

.artist-name {
  box-sizing: border-box;
  margin-block: 0px;
  font-size: 16px;
  font-weight: 700;
  padding-block-end: 8px;
}

.artist-categorie {
  color: #6a6a6a;
  font-weight: 400;
  font-size: 0.875rem;
}

/* BOTÃO PLAY SPOTIFY */

.play {
  position: relative;
}

.play .fa-play {
  position: absolute;
  right: 10px;
  top: 120px;
  padding: 18px;
  background-color: #179e46;
  border-radius: 100%;
  font-size: 14px;
  opacity: 0;
  transition: all ease 0.4s;
}

.artist-card:hover .play .fa-play {
  opacity: 1;
  transform: translateY(-20px);
}

.play .fa-play:hover {
  padding: 20px;
  cursor: pointer;
}

#result-artist {
  padding: 20px 40px;
}