@media screen and (min-width: 1025px) {
    .offer__list-item{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .offer .offer__list .offer__list-playlist{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1024px) {
    .offer__list-item{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .offer__list-item{
        place-items: center;
    }
    .offer .offer__list .offer__list-playlist{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 930px) {
    .offer__list-item{
        grid-template-columns: 1fr 1fr;
    }
    .offer__list-item{
        place-items: center;
    }
    .footer footer .footer__texto .footer__subtitle{
        display: none;
    }
    .offer .offer__list .offer__list-playlist{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 280px) and (max-width: 767px){
    .offer__list-item{
        grid-template-columns: 1fr;
        place-items: center;
    }

    .offer .offer__list .offer__list-playlist{
        display: grid;
        grid-template-columns: 1fr;
    }

    .offer .important{
        display: none;
    }

    .sidebar{
        display: none;
    }   

    /* .sidebar nav ul li a{
        font-size: 14px;
    }

    .sidebar__navigation .fa{
        font-size: 15px;
        margin-right: 0px;
    } 

    .library .library__button{
        font-size: 14px;
    }
    .library .library__button .fa{
        font-size: 16px;
        margin-right: 0px;
    }

    .utilitarios .utilitarios__links .link{
        display: none;
    }*/

    .footer footer .footer__texto .footer__title{
        display: none;
    }

    .footer footer .footer__texto .footer__subtitle{
        display: none;
    }

    .main-container{
        width: 100%;
        margin: auto 10px;
    }  

    .playlist-content{
        width: 100%;
        height: 200vh;
    }

    .cards{
        width: 210px;
        height: 180px;
    }
 
    .header__navigation{
        width: 100%;
    }
    
    .header__navigation .navigation .arrow-left{
        margin-right: 0.9rem;
    }
    .arrow-left, .arrow-right{
        width: 25px;
        height: 25px;
    }
    .header__search{
        width: 94px;
        height: 48px;
        margin-left: 8px;
        background-color: #242424;
        border-radius: 500px;
        border: 1px solid transparent;
    }
    .header__login .subscribe{
        font-size: 12px;
        margin-right: 12px;
    }
    .header__login .login{
        width: 70px;
        height: 38px;
        font-size: 12px;
    }
    .section-scroll{
        overflow-y: auto; 
    }
}
