.main-container {
  max-width: 80vw;
  margin-left: 310px;
  margin-right: 3px;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin: 10px;
  border-radius: 8px;
  background-color: #121212;
}

.header__navigation .navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__navigation .navigation .arrow-left {
  margin-right: 1.25rem;
  border: none;
}

.arrow-left,
.arrow-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #131313;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.header__login {
  display: flex;
  align-items: center;
}

.header__search {
  display: flex;
  align-items: center;
  width: 364px;
  height: 48px;
  margin-left: 8px;
  background-color: #242424;
  border-radius: 500px;
  border: 1px solid transparent;
}

.header__search img {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.header__search input {
  background-color: transparent;
  border: none;
  padding: 0px 100px 0px 12px;
  color: #fff;
  text-overflow: ellipsis; /* ... */
  overflow: hidden;
  white-space: nowrap;
  outline: none;
  width: 100%;
}

.header__login .subscribe {
  color: #a7a7a7;
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
  margin-right: 32px;
  cursor: pointer;
  border: none;
}

.header__login .subscribe:hover {
  color: #fff;
  transform: scale(1.04);
}

.header__login .login {
  width: 100px;
  height: 48px;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  border-radius: 40px;
  background-color: #fff;
  cursor: pointer;
}

.header__login .login:hover {
  background-color: #a7a7a7;
  transform: scale(1.04);
}
